.centerDiv{
    border: 2px solid;
    height: 100vh;
    position: absolute;
    left: 141px;
}
.TopName{
    margin: auto;
    font-size: 36px;
    left: 39%;
    position: relative;
    top: 22px;
}
.list{
    margin: auto;
    font-size: 24px;
    left: 25%;
    position: relative;
    top: 42px;
    font-family: "Rajdhani Medium";
}
